:root {
  --background: #120d0f;
  --foreground: #f8f0f3;

  --accent: #fdc6db;
  --accent-soft: #ffe1ec;
  --accent-wash: rgba(253, 198, 219, 0.5);

  --muted: #b3a1a8;
  --surface: #1c1417;
  --border: #382a30;
}

.page {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.sidebar {
  position: sticky;
  top: 0;
  min-height: calc(100vh - 6rem);
  width: 40%;
  padding: 4rem;

  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.05em;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
}

.sidebar p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--muted);
}

.sidebar nav {
  margin: auto 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0 0;
  margin-top: auto;
}

.socialLinks a {
  display: flex;
  transition: transform 0.2s ease;
}

.socialLinks svg {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--muted);
  fill: currentColor;
}

.socialLinks a:hover {
  transform: translateY(-3px);
  color: var(--accent);
}

.socialLinks a:hover svg {
  color: var(--accent);
}